<div class="center jumbotron">
  <div class="container">
  <h1>YAYA BLOG</h1>
  
  <p><%= link_to "Sign up now", " ", class: "btb btn-danger btn-lg btn-xlarge" %></p>
    
  </div>
</div>

<%= link_to 'Alpha Blog', articles_path %>|<%= link_to 'About', about_path %>